.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.login-btn {
    float: right;
    margin-top: 15px;
}

.reg {
    margin-top: 80px;
}